$ambar : #ffc107;
$purple: #673ab7;
$green : #4caf50;
$pink  : #e91e63;
$blue  : #2196f3;
$brown : #795548;

$default: mediumslateblue;

html, body {
    height: 100%;
}
body {
    margin: 0;
    background-color: #ededed;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 60px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.notes-container {
    min-height: 500px;
    padding: 10px;
    background-color: whitesmoke;
}

.note {
    border: 2px solid $default;
    padding: 10px;
    margin: 4px;
    position: relative;
    background-color: white;

    display: flex;
    justify-content: space-between;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.1),0 10px 10px -5px rgba(0,0,0,.04);

    .corner-color {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        height: 0;
        width: 0;
        content: '';
        border-left: 20px solid $default;
        border-bottom: 20px solid transparent;

        &.ambar {
            border-left: 20px solid $ambar;
        }
        &.purple {
            border-left: 20px solid $purple;
        }
        &.green {
            border-left: 20px solid $green;
        }
        &.pink {
            border-left: 20px solid $pink;
        }
        &.blue {
            border-left: 20px solid $blue;
        }
        &.brown {
            border-left: 20px solid $brown;
        }
    }

    .text-note {
        width: 100%;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .options-note {
        position: relative;
        display: flex;
        cursor: pointer;
        border-left: 1px solid gray;

        div.svg-container {
            svg{
                margin-left: 5px;
            }

            &.info > svg .cls-1,.cls-2{
                fill:#2e79bd
            }

            &.completed > svg{
                fill: green;
            }

            &.color-picker > svg{
                fill:url(#svg-color-picker)
            }

            &.remove > svg{
                fill: red;
            }

            svg {
                .main-stop {
                    stop-color: blueviolet;
                }

                .alt-stop {
                    stop-color: black;
                }

                .alt-stop {
                    stop-color: black;
                }
            }
        }
    }
}

.bc.ambar {
    border: 2px solid $ambar;
}
.bc.purple {
    border: 2px solid $purple;
}
.bc.green {
    border: 2px solid $green;
}
.bc.pink {
    border: 2px solid $pink;
}
.bc.blue {
    border: 2px solid $blue;
}
.bc.brown {
    border: 2px solid $brown;
}


/* COLOR PICKER*/
.modal-color-picker {
    width: 100px;
    position: absolute;
    top: 40px;
    left: 11px;
    z-index: 10;

    .container-color-picker {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: gainsboro;
        padding: 10px;
        border-top-right-radius: 45px;
        border-top-left-radius: 45px;
        border-bottom-right-radius: 18px;
        border-bottom-left-radius: 18px;
        box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.5);
        cursor: default;

        &:before {
            border: 25px solid gainsboro;
            content: '';
            position: absolute;
            border-left-color: transparent;
            border-top-color: transparent;
            border-right-color: transparent;
            bottom: 98px;
            pointer-events: none;
        }

        div.color {
            border-radius: 50%;
            content: '';
            height: 20px;
            width: 20px;
            margin: 2px;
            padding: 2px;
            cursor: pointer;

            &.ambar {
                background-color: $ambar;
            }

            &.purple {
                background-color: $purple;
            }

            &.green {
                background-color: $green;
            }

            &.pink {
                background-color: $pink;
            }

            &.blue {
                background-color: $blue;
            }

            &.brown {
                background-color: $brown;
            }
        }
    }
}

.u-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 300ms all;
    background-color: #000;

    &.active {
        opacity: 0.6;
        visibility: visible;
    }
}



// MEDIAS
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}